*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #BB88FF;

}
.all{
	margin:0 auto;
}
.nav1{
	height: 31px;
	width: 1351px;
	background-color: black;
	/*float: left;*/
}
.span-whitelogin a{
	text-decoration: none;
	color: #999999;
}
.span-white:hover{
	color: white;
	cursor: pointer;
}
.span-whitelogin a:hover {
	color: white;
	cursor: pointer;
}
.span-white-erweima:hover{
	color: white;
	cursor: pointer;
}
.span-white-erweima:hover+.span-white-erweiimg{
	/*color: white;
	cursor: pointer;*/
	display: block;
}
.span-white-erweiimg{
	width: 128px;
	height: 167px;
	/*float: left;*/
	position: absolute;
	background-color: white;
	left: 180px;
	top: 40px;
	z-index: 1;
	text-align: center;
	display: none;
	border: 1px solid #E4E4E4;

}
.span-white-erweiimg img{
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.span-white-erweiimg span{
	color: red;
	font-size: 14px;
	font-family: Helvetica;
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	/*width: 160px;*/

}
.span-white-erweiimg strong{
	color: red;
	font-size: 14px;
	font-family: Helvetica;
	float: left;
	margin-left: 40px;
	height: 22px;
}

.topnav{
	position: relative;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	width: 1090px;
}
.navleft{
	float: left;
	line-height: 30px;
	font-size: 12px;
	color: #999;
}
.navleft span{
	margin-right: 15px;
}
.fenlei{
	position: absolute;
	left: 130px;
	top: 172px;
	display: none;

}

.nav2left:hover{
	cursor: pointer;
}
.fenleidiv:hover>.fenlei{
	display: block;
	z-index: 1;
	cursor: pointer;
}
.fenlei .fenleibai{
	width: 20px;
	height: 20px;
	position: absolute;
	/*top: 10px;*/
	margin-top: -20px;
	margin-right: 3px;
	right: 130px;
	z-index: 2;
	/*display: block;*/
	display: none;
}
.fenlei li:hover{
	cursor: pointer;
	background-color: white;
	/*background-color: red;*/

	border: 1px solid #FF2952;
}
.fenlei li:hover span{
	/*cursor: pointer;*/
	/*background-color: white;*/
	color: #FF2952;
}
.fenlei:hover .fenleibai{
	display: block;
	z-index: 1;
}
.fenlei li{
	list-style: none;
	height: 41px;
	width: 164px;
	background-color: #FF0000;
	/*background: linear-gradient(90deg,red,#ff3264);*/

}
.fenlei span{
	color: white;
	width: 80px;
	display: inline-block;
	font-size: 14px;
	margin-right: 12px;
	/*margin:0 15px;*/
	margin-top: 10px;
}
.fenlei img{
	 width: 20px;
	height: 20px;
	position: relative;
	right: 7px;
	z-index: 1;
	/*display: none;*/
}

.navcenter{
	float: left;
	line-height: 30px;
	font-size: 12px;
	color: #999;
}
.navcenter>span{
	margin-left: 20px;
}
/*@keyframes myai{
	0%{
		background-color: white;
		color: red;

	}
	100%{
		background-color: white;
		color: red;
	}
}*/
/*@keyframes sanjiaoimg{
	0%{

	}
	100%{
		transform:rotateX(180deg);
	}
}*/

/*.navright img:hover{
	
}*/
.navright{
	float: right;
	list-style: none;
	color: #999;
	font-size: 12px;
}
.navright li{
	display: inline-block;
	/*margin-right: 10px;*/
	width: 80px;
	height: 31px;
}

 .xialaperson{
	height: 272px;
	width: 119px;
	position: absolute;
	z-index: 1;
	background-color: white;
	left: 677px;
	top:31px;
	border: 1px solid #E4E4E4;
	border-top: none;
	padding: 4px 15px 12px 14px;
	box-sizing: border-box;
	display: none;
}
.xialaperson span{
	color: #666666;
	display: block;
	line-height: 28px;
}
@keyframes geren{
	0%{
		background-color: white;
		color: red
	}
	100%{
		background-color: white;
		color: red;
	}
}
@keyframes gerenimg{
	0%{
		
	}
	100%{
		transform: rotateZ(180deg);
	}
}
@keyframes fontred{
	0%{
			
	}
	100%{
		color: red;
	}
}
.person:hover{
	animation-name: geren;
	animation-duration: 0.01s;
	animation-fill-mode: forwards;
	cursor: pointer;

}

.person:hover i{
	animation-name: gerenimg;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
/*.divkehu{
	display: block;
}*/
.person:hover>.xialaperson{
	display: block;
}

.xialaperson:hover{
	display: block;
}

.xialaperson span:hover{
	animation-name: fontred;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	cursor: pointer;
}
/*.xialaperson:hover ~ .persion{
	animation-name: geren;
	animation-duration: 0.01s;
	animation-fill-mode: forwards;
	cursor: pointer;
}
*/
/*.xialaperson:hover>span{
	display: block;
	animation-name: fontred;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	cursor: pointer;
}*/
.xialakehu{
	width: 123px;
	height: 129px;
	position: absolute;
	background-color: white;
	z-index: 1;
	border: 1px solid #E4E4E4;
	border-top: none;
	left: 761px;
	display: none;
}
.xialakehu img{
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}
.xialakehu span{
	float: left;
	margin-left: 5px;
	color: #666666;
}
.kehu:hover{
	animation-name: geren;
	animation-duration: 0.01s;
	animation-fill-mode: forwards;
	cursor: pointer;
}
.kehu:hover i{
	animation-name: gerenimg;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.kehu:hover>.xialakehu{
	display: block;
}
.xialakehu:hover{
	display: block;
}

.xialakehu span:hover{
	animation-name: fontred;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	cursor: pointer;
}

.xialachongzhi{
	height: 111px;
	width: 101px;
	position: absolute;
	background-color: white;
	z-index: 1;
	border: 1px solid #E4E4E4;
	border-top: none;
	left: 843px;
	text-align: center;
	display: none;
}
.xialachongzhi span{
	color: #666666;
	display: inline-block;
	line-height: 28px;
}
.chongzhi:hover{
	animation-name: geren;
	animation-duration: 0.01s;
	animation-fill-mode: forwards;
	cursor: pointer;
}
.chongzhi:hover i{
	animation-name: gerenimg;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.chongzhi:hover>.xialachongzhi{
	display: block;
}
.xialachongzhi:hover{
	display: block;
}

.xialachongzhi span:hover{
	animation-name: fontred;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	cursor: pointer;
}

.xialaxiaofei{
	height: 73px;
	width: 103px;
	background-color: white;
	position: absolute;
	/*background-color: white;*/
	z-index: 1;
	border: 1px solid #E4E4E4;
	border-top: none;
	left: 926px;
	text-align: center;
	display: none;
}
.xialaxiaofei span{
	/*float: left;*/
	margin-left: 5px;
	color: #666666;
}
.xiaofei:hover{
	animation-name: geren;
	animation-duration: 0.01s;
	animation-fill-mode: forwards;
	cursor: pointer;
}
.xiaofei:hover i{
	animation-name: gerenimg;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.xiaofei:hover>.xialaxiaofei{
	display: block;
}
.xialaxiaofei:hover{
	display: block;
}

.xialaxiaofei span:hover{
	animation-name: fontred;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	cursor: pointer;
}
.xialamore{
	height: 188px;
	width: 91px;
	background-color: white;
	position: absolute;
	/*background-color: white;*/
	z-index: 1;
	border: 1px solid #E4E4E4;
	border-top: none;
	left: 1010px;
	text-align: center;
	display: none;
}
.more a{
	text-decoration: none;
	color: #999999;
}
.xialamore span{
	margin-left: 5px;
	color: #666666;
	list-style: 28px;
	width: 60px;
	height: 28px;
	display: inline-block;
}
.more:hover{
	animation-name: geren;
	animation-duration: 0.01s;
	animation-fill-mode: forwards;
	cursor: pointer;
}
.more:hover i{
	animation-name: gerenimg;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.more:hover>.xialamore{
	display: block;
}
.xialamore:hover{
	display: block;
}

.xialamore span:hover{
	animation-name: fontred;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	cursor: pointer;
}
.heada{
	color: #999;
	text-decoration: none;
}
.fenjie{
	border-bottom: 1px solid #E4E4E4;
}
header{
	height: 100px;
	position: relative;
	background-color: white;
}
.logokaola{
	position: absolute;
	left: 130px;
	top: 20px;
	width: 330px;
	height: 65px;
	line-height: 65px;
}
.search{
	height: 36px;
	width: 479px;
	
	left: 463px;
	top: 24px;
	position: absolute;

}
.centersea{
	border: 2px solid red;
	border-radius: 40px;
	width: 511px;
	height: 40px;
}
.whitefangdajing{
	position: absolute;
	left: 12px;
	top: 15px;
	width: 14px;
	height: 14px;

}
.redinput{
	float: left;
	margin: 2px 1px;
	padding: 6px 39px 6px 30px;
	background-color: #fff;
	border-radius: 24px 0 0 24px;
}
.redinput input{
	width: 410px;
	height: 24px;
	line-height: 24px;
	border: 0;
	font-size: 13px
	vertical-align: middle;
	display: inline-block;
}
.redfangdajing{
	/*float: right;*/
	position: absolute;
	right:-37px;
	/*display: inline-block;*/
	background-color: red;
	width: 60px;
	height: 40px;
	border-radius: 40px;
}
.redimg{
	width: 23px;
	height: 23px;
	position: absolute;
	left: 18px;
	top: 8px;
}
.redfangdajing:hover{
	cursor: pointer;
}

.searchbot li{
	list-style: none;
	display: inline-block;
	/*position: absolute;*/
	/*width: 50px;*/
	/*left: 420px;*/
	line-height: 22px;
	color: #999;
	font-size: 12px;
	margin-left: 30px;
	margin-top: 2px;
	/*width: 32px;*/
}
.searchbot li:hover{
	text-decoration: underline;
	cursor: pointer;
}
#redli{
	color: red;
}
.gouwuche{
	display: block;
	position: absolute;
	right: 206px;
	top: 27px;
	width: 106px;
	height: 36px;
	background-color: #fff;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
	border-radius: 36px;
	border: 2px solid red;
}
.gouwuche img{
	float: left;
	margin-left: 15px;
	margin-top: 6px;
	margin-right: -15px;
}
.gouwuche:hover{
	background-color: #FFF4F5;
	cursor: pointer;

}
.gouwuche:hover>span{
	color: red;
}


.nav2{
	height: 41px;
	width: 1351px;
	background-color: white;
}
.nav2left{
	float: left;
	margin-left: 130px;
}
.nav2left img{
	width: 22px;
	height: 22px;
	float: left;
	margin-top: 8px;
	/*text-align: center;*/
	margin-left: 13px;
}
.nav2left span{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 14px;
}
.nav2left{
	background-color: red;
	width: 164px;
	height: 41px;
	color: white;
}
.nav2ul{
	/*margin-left: 20px;*/
	padding-left: 20px;
	float: left;
	height: 41px;
	/*text-align: center;*/
	/*margin-top: 10px;*/
}
.nav2ul li{
	list-style: none;
	display: inline-block;
	line-height: 40px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: bold;

}

.nav2ul .nav2li2{
	widows: 70px;
	height: 40px;
}
.nav2ul .nav2li3{
	widows: 85px;
	height: 40px;
}
.nav2ul .nav2li4{
	widows: 100px;
	height: 40px;
}
.nav2ul .nav2li5{
	widows: 115px;
	height: 40px;
}

.topimg img{
	height: 506px;
	width: 1351px;
	background-repeat: no-repeat;
	/*background-position: 0px -550px;*/
	z-index: 0.5;
}
.nav2ul li:hover{
	color: red;
	cursor: pointer;
}
.fixnav{
	position: fixed;
	margin-left: 20px;

	z-index:999;

	top: 200px;
	background-color: #BE95F3;
	list-style: none;
	text-align: center;
	display: none;
	/*z-index: 0.4;*/
}
.fixnav li{
	height: 26px;
	width: 100px;
	border-bottom: 1px solid #9877C2;
	color: white;
	line-height: 24px;
	font-size: 12px;
	font-family: Helvetica;
}
.fixnav:hover{
	cursor: pointer;
}
.fixnav .specli1{
	height: 36px;
	width: 100px;
}
.fixnav .specli2{
	height: 36px;
	width: 100px;
	line-height: 10px;
}
.fixnav .specli3{
	/*background-color: #8E70B6;*/
}
.specli1 img{
	float: left;
	/*position: relative;*/
	width: 18px;
	height: 18px;
	margin-left: 15px;
	margin-top: 9px;
	/*margin-top: 10px;*/
}
.specli1 span{
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.specli2 img{
	width: 35px;
	height: 20px;
	/*line-height: 10px;*/
}


/*.spceli img{
	width: 80px;
	height: 20px;
}*/
.biaoti{
	height: 60px;
	width: 1000px;
	margin: 10px 0;
	/*padding: 0 5px;*/
	line-height: 60px;
	text-align: center;
	font-size: 28px;
	color:white;
	float: left;
	background-color: #B884FF;
}
.allgoods{
	width: 1000px;
	float: left;
	margin-left: 85px;

}
.firstgoods{
	list-style: none;

}
.firstgoods li{
	display: inline-block;
	float: left;
	width: 20%;
height: 284px;
}

.topgoods{
/*width: 100%;*/
position: relative;
background-color: white;
}

.goods{
	/*height: 284px;*/
	width: 193px;
	background-color: white;
	position: relative;
	margin-top : 0;
	margin-left: 2.5px;
	/*margin-bottom: 5px;*/
}
.rexiao{
	height: 20px;
	width: 32px;
	background-color: #FF8385;
	color: white;
	position: absolute;
	font-size: 12px;

}
.goodsimg{
	position:relative;
}
.newpeo{
	height: 17px;
	width: 58px;
	border: 1px solid red;
	border-radius: 3px;
	font-size: 12px;
	color: red;
	position: absolute;
	top: 170px;
	left: 15px;
}
h5{
	white-space: nowrap;
 	overflow: hidden;
 	/*溢出内容隐藏*/
 	text-overflow: ellipsis;
 	line-height: 22px;
 	margin: 0 5px 5px;
 	text-align: left;
}
h6{
	text-align: left;
	margin: 0 5px 5px;
	font-weight: 400;
	color: #999;
	height: 20px;
	font-size: 12px;
}
.goods span{
	line-height: 22px;
	font-size: 20px;
	font-weight: 700;
	font-family: Helvetica;
	color: rgb(255, 30, 50);
	/*float: left;*/
	/*display: flex;*/
	display: inline-block;
	text-align: left;
	width: 150px;
}

.goodsimg img{
	height: 192px;
	width: 191px;
	/*position: absolute;*/
	left: 0px;
}
.goods:hover h5{
	white-space: normal;
	word-wrap: break-word;
}

.goods:hover{
	border: 1px solid red;
	cursor: pointer;
	
	z-index: 1;
	
}

.goodsbot{
	margin: 0 5px;
	/*margin-bottom: 15px;*/
	line-height: 22px;
	/*float: left;*/
}

.divgouwu{
	height: 27px;
	width:27px;
	text-align: right;
	line-height: 22px;
	/*float: eft;*/
	/*display: flex;*/

}
.dovfoot{
	width: 1351px;
	height: 411px;
	background-color: white;
	/*clear: both;*/
	float: left;
	margin-top: 100px;
	z-index: 0.5;
}
.dovfoot-top{
	height: 100px;
	width: 1100px;
	float: left;
	margin-left: 130px;
	margin-top: 50px;

}
/*.dovfoot-topul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 50px;
	margin-left: 130px;

}*/

.dovfoot-topul li{
	display: inline-block;
	border: 2px solid #D6D6D6;
	border-radius: 50px;
	height: 46px;
	width: 46px;
	
	/*float: left;*/
	margin-right: 150px;
	margin-left: 60px;
	/*line-height: 44px;
	font-size: 20px;
	font-weight: 700;*/
}
.footfont strong{
	padding-right: 68px;
	display: block;
	float: left;
	margin-left: 40px;
}
.footfont span{

	float: left;
	margin-left: 40px;
}
.footicon{
	text-align: center;
	line-height: 44px;
	font-size: 20px;
	font-weight: 700;
	/*float: left;*/
	/*position: relative;*/
	/*left: 10px;*/
	/*top: 100px;*/
	box-sizing: border-box;
}
.footfont{
	height: 44px;
	width: 233px;
	/*position: relative;
	left: 200px;*/
	float: left;
	margin-left: 20px;
	margin-top: -40px;
}

.dovfoot-topbot{
	height: 213px;
	width: 1100px;
	border-top: 1px solid #EAEAEA;
	float: left;
	margin-left: 130px;
	padding: 45px 0 90px;
	/*margin-top: 80px;*/
	/*list-style: none;*/
}
.foottubiao{
	float: left;
}
.foottubiao>img{
	/*height: 43px;*/
	/*width: 220px;*/
	/*background-position: -100px 0;*/
	display: block;
	width: 220px;
	height: 43px;
	line-height: 45px;
	/*margin-bottom: 20px;*/
}

.botul li{
	display: inline-block;
	/*list-style: none;*/

}

.botul dd:hover{
	text-decoration: underline;
	cursor: pointer;
}
.boticon span{
	font-size: 12px;
}
.boticon img{
	width: 32px;
	height: 32px;
	position: relative;
	top: 10px;
	/*left: 10px;*/
	margin-left: 10px;
}
.footdl {
	/*position: relative;*/
	margin-left: 30px;
	float: left;
}
.footdl dd{
	font-size: 12px;
	height: 29px;
	width:110px;

}
.footdl dt{
	font-size: 18px;
	font-weight: 400;
	/*position: relative;*/
	margin: -4px 0 18px;

}
.specfootdl{
	/*position: relative;*/
	/*margin-top: -50px;*/
	float: left;
	margin-left: 50px;
}
.specfootdl dd{
	font-size: 12px;
	height: 29px;
	width:110px;
	/*margin-top: 20px;*/
	padding-left: -20px;

}
.specfootdl dt{
	font-size: 18px;
	font-weight: 400;
	/*position: relative;*/
	margin: -4px 0 18px;
	
}
.erweima{
	float: left;
	margin-left: 8px;
	/*margin-top: 5px;*/
}
.erweima img{
	height: 108px;
	width: 108px;
	display: block;
}
.erweima span{
	font-size: 12px;
	position: relative;
	/*left: 13px;*/
	top: 5px;
}
footer{
	width: 1351px;
	height: 173px;
	background-color: #333333;
	float: left;

}
.mostfoot a{
	color: #B3B3B3;
	text-decoration: none;
	font-size: 12px;
	font-family: Helvetica;
}
.mostfoot{
	color: #B3B3B3;
	font-size: 12px;
	float: left;
	margin-left: 400px;
	margin-top: 30px;
}
.mostcenter{
	color: #B3B3B3;
	font-size: 12px;
	/*width: 300px;*/
	float: left;
	margin-top: 15px;
	margin-left: 250px;

}
.mostcenter span{
	margin-left: 20px;
}
.mostbot{
	color: #B3B3B3;
	font-size: 12px;
	/*width: 300px;*/
	float: left;
	margin-top: 10px;
	margin-left: 250px;
}
.mostbot img{
	/*margin-left: 10px;*/
	position: relative;
	left: 13px;
	top: 4px;
}
.mostbot span{
	margin-left: 20px;
}
.mosticon{
	float: left;
	margin-top: 20px;
	margin-left: 540px;
}
.mosticon img{
	margin-left: 15px;
}
.mosticon1{
	height: 30px;
	width: 83px;
}
.mosticon2{
	height: 30px;
	width: 80px;
}
.mosticon3{
	height: 30px;
	width: 27px;
}
.outerweima1{
	/*float: left;*/
	position: absolute;
	left: 160px;
	top:5660px;
	/*bottom: 300px;*/
	display: inline-block;
	width: 122px;
	height: 122px;
	background-color: white;
	border: 1px solid #EDEDEE;
	display: none;
}
[class^=outerweima] img{
	width: 100px;
	height: 100px;
	margin: 2px 5px;
}
.outerweima2{
	/*float: left;*/
	position: absolute;
	display: inline-block;
	left: 210px;
	top:5660px;
	width: 122px;
	height: 122px;
	background-color: white;
	border: 1px solid #EDEDEE;
	display: none;
}
.outerweima3{
	/*float: left;*/
	position: absolute;
	display: inline-block;
	left: 250px;
	top:5660px;
	width: 122px;
	height: 122px;
	background-color: white;
	border: 1px solid #EDEDEE;
	display: none;
}
.weiboimg:hover{
	cursor: pointer;
}
.weixinimg:hover{
	cursor: pointer;
}
.haitaoimg:hover{
	cursor: pointer;

}
.weiboimg:hover+.outerweima1 {
	display: block;
	/*z-index: 1;*/
}
.weixinimg:hover+.outerweima2 {
	display: block;
	/*z-index: 1;*/
}
.haitaoimg:hover+.o\][uterweima3 {
	display: block;
	/*z-index: 1;*/
}