*{
	margin: 0;
	padding: 0
}
header{
	background-color: white;
	height: 100px;
	width: 1351px;
}
.headicon{
	float: left;
	height: 100px;
	width: 1000px;
	margin-left: 180px;
}
.headicon img{
	float: left;
	margin-top: 20px;
}
.centerpic {
	height: 600px;
	width: 1351px;
	background-size: cover;
	background-image: url(image/63f74c0d-6548-44ce-9a85-582e8a5702beT1906171802_1920_520.jpg);
	background-position: -430px 0px;
	background-repeat:no-repeat;
	
}
.login .phonelogin:hover {
	color: #e31436;
}
.login .youxianglogin:hover {
	color: #e31436;
}


.login{
	background-color: white;
	height: 366px;
	width: 355px;
	float: right;
	margin-right: 210px;
	margin-top: 120px;
	font-size: 17px;
	color: #DDDDDD;
	/*display: none;*/
}

.loginstyle{
	border-bottom: 1px solid #DDDDDD;
	height: 52px;
	width: 355px;
	background-color: #F8F8F8;
}
.loginstyle .phonelogin{
	float: left;
	width: 175px;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	color: #e31436;
	line-height: 52px;
}

.loginstyle .youxianglogin{
	float: left;
	width: 175px;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	color: black;
	line-height: 52px;
}
 .loginstyle .gang{
 	position: absolute;
	top: 237px;
	left: 965px;
	width: 0;
	height: 20px;
	border-right: solid 1px #ddd;
	color: #DDDDDD;
	background-color: #F8F8F8;
}
.loginstyle .phonelogin{
	color: red;
}
.pwdlogin{
	text-align: right;
	width: 270px;
	margin: 10px 43px;
}

.pwdlogin img{
	height: 14px;
	width: 18px;
	/*margin-top: 5px;*/
}
.pwdlogin span{
	font-size: 12px;
	text-align: right;
	color: #666666
}
.shuru{
	border: 1px solid #D5D5D5;
	width: 270px;
	height: 36px;
	margin: 0 43px;
}
.shuru img{
	position: relative;
	left: 10px;
	top: 3px;
	/*display: inline-block;*/
	/*margin-left: 10px;*/
	/*margin-top: 10px;*/
}
.shuru input{
	border: none;
	height: 30px;
	width: 180px;
	/*margin-left: 20px;*/
	margin:3px 20px;
}
.pwd{
		border: 1px solid #D5D5D5;
	width: 270px;
	height: 36px;
	margin: 20px 43px;
}
.pwd button:hover{
	cursor: pointer;
	outline: none;
	color: #e31436;
	border: 1px solid #D5D5D5;
	background-color: #F6F6F6;
}
.pwd input{
	border: none;
	height: 30px;
	width: 160px;
	/*margin-left: 20px;*/
	margin:3px 10px;
}
.pwd button{
height: 38px;
width: 96px;
line-height: 32px;
text-align: center;
float: left;
margin-left: 175px;
margin-top: -37px;
}
.loginbtn{
	background-color: #F5345E;
	color: white;
	width: 270px;
	height: 36px;
	margin: 10px 43px;
	border: none;
}
.loginbtn:hover{
	cursor: pointer;
}
.forget{
	margin:0 43px;
	width: 270px;
	height: 18px;
	padding: 0 0 15px 0;

}
.forget span:hover{
	cursor: pointer;
}
.forget label{
	margin-left: 5px;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #999;
	line-height: 17px;
	/*float: left;*/
}
.forget span{
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #999;
	float: right;
	margin-top: 3px;
}
.zhengce{
	margin:0 43px;
	width: 270px;
	height: 25px;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color: #999;
}
.zhengce:hover{
	cursor: pointer;
}
.zhengce .speca{
	text-decoration: underline;
	width: 10px;
	font-family:  "Helvetica Neue";
}
.iconul{
	margin-left: 38px;
}
.iconul li{
	display: inline-block;
	margin-left:5px;margin-top: 10px;
}
.boticon{
	/*margin:0 43px;*/
	width: 355px;
	height: 41px;
	border-top: 1px solid #DDDDDD;
	background-color: #F8F8F8;
}
.boticon a:hover{
	text-decoration: underline;
}
.firsticon {
	width: 22px;
	height: 22px;
	background-image: url(image/login/icon1.png);
	background-position: -760px -401px;
}
.iconul li:hover{
	cursor: pointer;
}
.secondicon{
	width: 22px;
	height: 22px;
	background-image: url(image/login/icon1.png);
	background-position: -792px -401px;
}
.thirdicon{
	width: 22px;
	height: 22px;
	background-image: url(image/login/icon1.png);
	background-position: -824px -401px;
}
.theadicon{
	width: 22px;
	height: 22px;
	background-image: url(image/login/icon1.png);
    background-position: -856px -401px;
}
.boticon a{
	color: #e31436;
	text-decoration: none;
	float: right;
	margin-right: 40px;
	margin-top: -25px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	/*color: #999;*/
}
.boticon .rightjiantou {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(image/login/icon1.png);
	background-position: -899px -406px;
	float: right;
	margin-top: 3px;
	margin-left: 5px;

}
footer{
	width: 1351px;
	height: 114px;
}
.footdiv{
	margin-top: 50px;
	font-size: 13px;
	line-height: 26px;
}
.footdiv a:hover{
	text-decoration: underline;
}
.under:hover{
	text-decoration: underline;
	cursor: pointer;
}
.footdiv span{
	color: #666;
	
}
.footdiv a {
	text-decoration: none;
	color: #666;
	width: 110px;
	display: inline-block;

}
 .botsec span{
	margin-top: 10px;
	color: #999;
	font-size: 12px;
	margin: 0 20px;
	font-family: "Helvetica Neue";
}
.botthird span{
	margin-top: 10px;
	color: #999;
	font-size: 12px;
	margin: 0 20px;
	font-family: "Helvetica Neue";
}
.botthird img{
	/*float: left;*/
	/*margin-left: 200px;*/
	position: relative;
	left:16px;
	top: 5px;

}
.kexin{
	height: 30px;
	width: 80px;
	margin:0 20px;
}
.wangluo{
	height: 30px;
	width: 28px;
}